<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <solutionFramework>
      <indexing>
        <patch:attribute name="defaultProvider">fallback</patch:attribute>
        <providers>
          <add name="fallback" type="Sitecore.Foundation.Indexing.Infrastructure.Providers.FallbackSearchResultFormatter, Sitecore.Foundation.Indexing" />
        </providers>
      </indexing>
    </solutionFramework>
    
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="has_presentation" storageType="YES" returnType="string">Sitecore.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField, Sitecore.Foundation.Indexing</field>
              <field fieldName="base_template_ids" storageType="YES" returnType="string">Sitecore.Foundation.Indexing.Infrastructure.Fields.BaseTemplateIdsComputedField, Sitecore.Foundation.Indexing</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>

        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="base_template_ids" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Collections.Generic.List`1[[System.String, mscorlib]]" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
                <Analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
              </field>
              <field fieldName="has_presentation" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.Boolean" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldNames>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="has_presentation" storageType="no" indexType="untokenized">Sitecore.Foundation.Indexing.Infrastructure.Fields.HasPresentationComputedField, Sitecore.Foundation.Indexing</field>
              <field fieldName="base_template_ids" storageType="no" indexType="untokenized">Sitecore.Foundation.Indexing.Infrastructure.Fields.BaseTemplateIdsComputedField, Sitecore.Foundation.Indexing</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

    <settings>
      <setting name="Sitecore.Foundation.Indexing.IndexedItemFoundationTemplateId" value="{AE3E2AAA-CB77-453F-AD3E-B15F9AA7A73B}" />
    </settings>
  </sitecore>
</configuration>